.loader-cover {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: $black;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 1rem;
}

.loader {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 60px;
}

.loader .loader-element {
    display: inline-block;
    position: absolute;
    border-radius: 0.5rem;
    left: 8px;
    width: 16px;
    background: $purple;
    animation: c 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.loader .loader-element:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}
.loader .loader-element:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}
.loader .loader-element:nth-child(3) {
    left: 56px;
    animation-delay: 0;
}
@keyframes c {
    0% {
        top: 8px;
        height: 64px;
    }
    
    50%, 100% {
        top: 24px;
        height: 32px;
    }
}
  
  
  
  
  
  
  
  
  
  
   
   
   
    
  