html {
    overflow-x: hidden;
    width: 100%;
}

body {
    background-color: #19191B;
    overflow-x: hidden;
    width: 100%
}

section:not(:first-child) {
    margin-top: 140px;
}

.abstract-shape {
    position: absolute;
    user-select: none;
    will-change: transform;
}