html {
    overflow-x: hidden;
    width: 100%;
}

body {
    background-color: #19191B;
    overflow: hidden;
    width: 100%
}

section:not(:first-child) {
    margin-top: 140px;
}

.svg-sprite {
    width: 24px;
    height: 24px;
} 

.bg-shape-purple {
    width: 2000px; height: 1067px;
    background: url("./img/css-sprites.png") -8px -1091px;
}

.bg-shape-orange {
    width: 2001px; height: 1067px;
    background: url("./img/css-sprites.png") -8px -8px;
}

.bg-shape-circle {
    width: 1102px; height: 1092px;
    background: url("./img/css-sprites.png") -8px -2174px;
}

.blurred-shape {
    z-index: -1;
}

.abstract-shape, .blurred-shape {
    position: absolute;
    user-select: none;
    pointer-events: none;
    will-change: transform;
}

.circles-shape {
    width: clamp(2.625rem, 1vw + 2rem, 3.75rem);
    height: clamp(2.625rem, 1vw + 2rem, 3.75rem);
}

.cross-shape {
    width: clamp(2.375rem, 4vw + 0.75rem, 3.125rem);
    height: clamp(2.375rem, 4vw + 0.75rem, 3.125rem);
}

.triangles-shape {
    width: clamp(4.688rem, 3vw + 3rem, 7.5rem);
    height: clamp(4.688rem, 3vw + 3rem, 7.5rem);
}

.zig-zag-shape {
    width: clamp(3.813rem, 4vw + 3rem, 5.938rem);
    height: clamp(3.813rem, 4vw + 3rem, 5.938rem);
}