// container which set up content area
.container {
    margin: 0 auto;
    padding: 0 1rem;
    min-width: 320px;
    max-width: 1200px;
}

// the grid
.col-2, .col-3 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    grid-auto-flow: row;
}

@media only screen and (min-width: 480px) {
    .col-3 {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media only screen and (min-width: 580px) {
    .col-2 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 720px) {
    .col-3 {
        grid-template-columns: repeat(3, 1fr);
    }
}

// margins
// !!! it's margin-top only !!!

.m-min {
    margin-top: 20px;
}

.m-mid {
    margin-top: 24px;
}

.m-max {
    margin-top: 50px;
}