@font-face {
    font-family: 'Graphik LCG';
    font-weight: 800;
    font-style: normal;
    src: url('../fonts/graphik/GraphikLCG-Bold.eot');
    src: local('Graphik LCG Bold'), local('GraphikLCG-Bold'),
        url('../fonts/graphik/GraphikLCG-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/graphik/GraphikLCG-Bold.woff2') format('woff2'),
        url('../fonts/graphik/GraphikLCG-Bold.woff') format('woff'),
        url('../fonts/graphik/GraphikLCG-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/nunito-sans/nunito-sans-v8-cyrillic-regular.eot');
    src: local(''),
            url('../fonts/nunito-sans/nunito-sans-v8-cyrillic-regular.eot?#iefix') format('embedded-opentype'),
            url('../fonts/nunito-sans/nunito-sans-v8-cyrillic-regular.woff2') format('woff2'),
            url('../fonts/nunito-sans/nunito-sans-v8-cyrillic-regular.woff') format('woff'),
            url('../fonts/nunito-sans/nunito-sans-v8-cyrillic-regular.ttf') format('truetype'),
            url('../fonts/nunito-sans/nunito-sans-v8-cyrillic-regular.svg#NunitoSans') format('svg');
}

@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/nunito-sans/nunito-sans-v8-cyrillic-600.eot');
    src: local(''),
            url('../fonts/nunito-sans/nunito-sans-v8-cyrillic-600.eot?#iefix') format('embedded-opentype'),
            url('../fonts/nunito-sans/nunito-sans-v8-cyrillic-600.woff2') format('woff2'),
            url('../fonts/nunito-sans/nunito-sans-v8-cyrillic-600.woff') format('woff'),
            url('../fonts/nunito-sans/nunito-sans-v8-cyrillic-600.ttf') format('truetype'),
            url('../fonts/nunito-sans/nunito-sans-v8-cyrillic-600.svg#NunitoSans') format('svg');
}

@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/nunito-sans/nunito-sans-v8-cyrillic-800.eot');
    src: local(''),
            url('../fonts/nunito-sans/nunito-sans-v8-cyrillic-800.eot?#iefix') format('embedded-opentype'),
            url('../fonts/nunito-sans/nunito-sans-v8-cyrillic-800.woff2') format('woff2'),
            url('../fonts/nunito-sans/nunito-sans-v8-cyrillic-800.woff') format('woff'),
            url('../fonts/nunito-sans/nunito-sans-v8-cyrillic-800.ttf') format('truetype'),
            url('../fonts/nunito-sans/nunito-sans-v8-cyrillic-800.svg#NunitoSans') format('svg');
}


// mixins for more flexible work with fonts
@mixin nunito-font($size: 1rem, $l-height: 2, $weight: $regular) {
    font-family: "Nunito sans", "Roboto", sans-serif;
    font-style: normal;
    font-weight: $weight;
    font-size: $size;
    line-height: $l-height;
}

@mixin graphik-font($size: 1rem, $l-height: 2, $weight: $bold) {
    font-family: "Graphik LCG", "Roboto", sans-serif;
    font-style: normal;
    font-weight: $weight;
    font-size: $size;
    line-height: $l-height;
}

// general typography styles

// headlines's styles
.h1-s {
    @include graphik-font(clamp(2.625rem, 5vw + 1.25rem, 5rem), 1);
    color: #fff;
}

.h2-s {
    @include graphik-font(clamp(2.25rem, 4vw + 0.75rem, 3.75rem), 1);
    color: #fff;
}

.h3-s {
    @include nunito-font(clamp(1.5rem, 2vw + 0.75rem, 1.75rem), 1, $semibold);
    color: #fff;
}

// style for main text
.text-s {
    @include nunito-font(clamp(1rem, 1vw + 0.75rem, 1.25rem), 1.5);
    color: $grey;
}