.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 16px 16px;

    .nav-list, .btn {
        display: none;
    }

    .burger-btn:hover {
        cursor: pointer;
    }   
}

@media only screen and (min-width: 720px) {
    .header .burger-btn {
        display: none;
    }

    .header .btn {
        display: initial;
    }

    .header .nav-list {
        display: flex;
    }
}