.hero, .hero .photo-content {
    margin-top: $m-max;
    position: relative;
}

.hero .photo-content {
    user-select: none;
}

.hero .text-content,
.hero .photo-content {
    align-self: center;
}

.hero .photo-content {
    display: flex;
    justify-content: flex-end;
}

.hero .circles-shape {
    right: 0;
}

.hero .cross-shape {
    bottom: 0;
}

.hero .zig-zag-shape {
    left: 0;
}

.hero .triangles-shape {
    bottom: -2rem;
    left: 0;
}

.hero .bg-shape-purple {
    transform: scale(2.5) rotate(60deg);
}

.hero .bg-shape-orange {
    top: 480px;
    transform: scale(2.5) rotate(120deg);
}

@media only screen and (min-width: 580px) {
    .hero .bg-shape-orange {
        transform: scale(1.5) rotate(160deg);
        right: -760px;
        top: 0;
    }    

    .hero .bg-shape-purple {
        transform: scale(1) rotate(60deg);
        left: -560px;
    }
}
