.services {
    position: relative;
}

.services .h2-s {
    max-width: 710px;
}

.services .triangles-shape {
    top: -6rem;
    left: 1rem;
}

.services .cross-shape-0 {
    top: 6rem;
    right: 0;
    transform: rotate(80deg);
}

.services .cross-shape-1 {
    bottom: -3rem;
}

.services .bg-shape-circle, 
.services .bg-shape-orange {
    display: none;
}

@media only screen and (min-width: 1024px) {
    .services .h2-s {
        text-align: center;
        margin: 0 auto;
        left: -2rem;
    }

    .services .triangles-shape {
        top: 0;
        left: 6rem;
    }
    
    .services .cross-shape-0 {
        top: 6rem;
        right: 0;
    }
    
    .services .cross-shape-1 {
        left: -2rem;
        bottom: -3rem;
    }

    .services .bg-shape-circle, 
    .services .bg-shape-orange  {
        display: initial;
    }

    .services .bg-shape-circle {
        top: -26rem;
        left: -30rem;
    }

    .services .bg-shape-orange {
        bottom: -14rem;
        transform: rotate(-45deg) scale(2);
    }
}
