@import "./scss_modules/global";

// variables which available in every .scss files
@import "./scss_modules/variables";

// typography settings, you can apply them by 
// classes like h1-s, text-s, etc.
@import "./scss_modules/typography";

// containers, colums etc.
@import "./scss_modules/layout";

// buttons, cards, checkboxes etc.
@import "./scss_modules/components/buttons";
@import "./scss_modules/components/service-item";
@import "./scss_modules/components/nav-list";
@import "./scss_modules/components/player";

// blocks;
@import "./scss_modules/blocks/header";
@import "./scss_modules/blocks/hero";
@import "./scss_modules/blocks/services";
@import "./scss_modules/blocks/portfolio";
@import "./scss_modules/blocks/offer";
@import "./scss_modules/blocks/footer";